body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    overflow-x: hidden;
}

.header-logo img{
    height: 43px;
}



.burger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#burger {
    background: none;
    border: none;
    cursor: pointer;
}

.online-text-bottom2 span {
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}


.burger-icon {
    padding: 5px;
    margin-top: 12px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}


#menu {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    background-color: #ff8731;
    transition: right 0.3s ease-in-out;
    padding-top: 50px;
}

#menu a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#menu a:hover {
    background-color: rgba(129, 85, 2, 0.7);
}


#menu #item-burger-true{
    font-weight: 600;
    text-decoration: underline;
}


.number-burger {
    position: absolute;
    bottom: 50px;
    width: 100%;
    line-height: 0;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 210px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.burger-menu:focus-within #menu {
    right: 0;
}

.burger-menu:focus-within .close-button {
    display: block;
}

.close-button:hover {
    color: #656363;
}

.cards {
    justify-content: center;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    font-size: 20px;
    background-color: rgba(26, 117, 255, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 40px;
}


body::-webkit-scrollbar,
.modal::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
    background-color: #888;
}

body::-webkit-scrollbar-thumb:hover,
.modal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.container {
    margin: 0px 166px;

}


.header {
    background-image: url(../Фон/bg2.jpg);

    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}


.header-line {
    padding-top: 35px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn1 a,
.btn a {
    background-color: transparent;
    color: transparent;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn1 a:hover,
.btn a:hover {
    background-color: transparent;
}


.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;

    margin-right: 25px;

    transition: color 0.3s linear;
}

#footer-item-true,
#item-true {
    font-size: 16px;
    text-decoration: underline;
    text-decoration-style: inherit; /* Стиль подчеркивания (например, точечное) */
    text-decoration-thickness: 2px
}
.nav-item:hover {
    color: #ff8731;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    background-color: transparent;
    margin: 0 auto; /* Центрирование по горизонтали (можно удалить) */
    border: #24262b;
    width: 40%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    overflow-y: auto;
    animation-duration: 0.4s;
}



.form-main {
    text-align: center;
}

.form-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-phone-email {
    width: 50%;
    padding-right: 4px;
}

.form-name-site {
    width: 48%;
    padding-left: 4px;
}

.online-text {
    color: #D67E35;
    text-align: center;

    font-size: 40px;
    font-weight: 400;

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;

}

.online-text-bottom {
    color: white;
    font-size: 20px;
}

.online-text-bottom2 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;

    text-align: justify;
}


.modal-dodal {
    background-color: #24262b;
    border-radius: 8%;
    z-index: 1;
}


.form-text-container {
    position: relative;
}

.form-text {
    width: 90%;
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-top: 20px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid white; /* Белая рамка */
    color: white; /* Белый текст */
}

.form-text-label {
    text-align: left;
    font-size: 15px;
    color: white; /* Белый текст */
    position: absolute; /* Позиционирование */
    pointer-events: none; /* Игнорирование событий мыши */
    top: 15px;
    left: 40px;
    transition: 0.2s ease all; /* Плавное перемещение */
}

.form-text-label.active {
    background-color: #24262b; /* Фон при поднятии */
    padding-right: 2px;

}

.form-name-site,
.form-phone-email {
    position: relative;
    margin-bottom: 20px;
    background: transparent
}

input,button,textarea{
	font-family: 'Poppins', sans-serif;
	outline: none;
}

input::-ms-clear{
	display: none;
}

input {
    border: none;
    border-bottom: 1px solid #fff; /* Линия только внизу */
    background: transparent !important;
    color: #fff; /* Текст в input белый */
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.name,
.online_phone {
    position: absolute;
    top: 5px;
    left: 40px;
    font-size: 15px;
    color: #fff; /* Текст в label белый */
    pointer-events: none; /* Позволяет прокликивать сквозь label */
    transition: 0.3s;
}

input:focus + label,
input:valid + label {
    top: -15px;
}

form {
    margin: 50px auto;
    max-width: 600px;
    background-color: #24262b;
}


input {
    width: 90%;
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-text {
    width: 94%;
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
}

.mobile-button {
    width: 90%;
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.mobile-button:hover {
    background-color: #894b17;
}

.close,
.close-callback,
.close-generator,
.close-onlinechat,
.close-quiz,
.close-instinct,
.close-multibutton {
    text-align: right;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close-callback:hover,
.close-callback:focus,
.close-generator:hover,
.close-generator:focus,
.close-onlinechat:hover,
.close-onlinechat:focus,
.close-quiz:hover,
.close-quiz:focus,
.close-instinct:hover,
.close-instinct:focus,
.close-multibutton:hover,
.close-multibutton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.mobile-button {
    border: 10px;
    background-color: #FF7400;
    align-content: center;
    height: 30px;
    width: 300px;
}

.cart {
    position: relative;

    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #ff8731;
}

.phone-text {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-img {
    padding-right: 10px;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894b17;
}

.header-down {
    position: relative;
}

.header-title {
    color: #D67E35;
    font-size: 82px;
    font-weight: 600;
    text-align: center;
    position: static;
    left: 0;

    margin-top: 50px;
    margin-bottom: 12px;
}

.header-suptitle {
    color: #fff;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.header-suptitle p {
    margin: 0 auto;
    width: 300px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.header-button {
    background-color: #FF7400;
    padding: 14px 28px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;

    transition: background-color 0.3s linear;
}

.header-button:hover {
    background-color: #904506;
}


.cards-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    padding: 10px 10px;
    margin-left: 20px;
    margin-bottom: 120px;
}


.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
    margin-bottom: 80px;
}

.button-center {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-size: 26px;
    font-weight: 400;

}

.card-title span {
    font-weight: 400;
    color: #D67E35;
    margin-left: 3px;
}

.card-desc {
    text-align: center;

    font-size: 15px;
    font-weight: 400;
    color: #656363;
}

.card {
    position: relative;
}


.btn-more-widget {
    position: absolute;
    bottom: 10px;
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
}


.card-img-widget {
    width: 100%;
    transition: transform 0.3s; /* Добавление плавного эффекта анимации */
}

.card-img-widget:hover {
    transform: scale(1.1); /* Увеличение размера при наведении в 1.2 раза */
}

.button-callback {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.history {
    margin-top: 166px;
    padding-bottom: 200px;
}


.history-title {

    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}

.history-title span {
    color: #D67E35;
}

.history-desc {
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
    margin-top: 16px;
}

.nav-item-widget {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;

    transition: color 0.3s linear;
}

.nav-item-widget:hover {
    color: #858585;
}

.nav-item-widget:hover .description {
    color: black; /* Или любой другой цвет, который вы хотите использовать для текста в описании */
}

.nav-item-widget::before {
    content: '•';
    margin-right: 7px;
    display: inline-block;
    animation: pointingAnimation 1s infinite;
}


.description:hover {
    color: #656363;
}


@keyframes pointingAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px); /* Вверх на 5px */
    }
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    margin-top: 20px;
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.number-item span {
    font-size: 30px;
    display: block;
    color: #000;
}

.plus,
.cross {
    margin-left: 6px; /* Добавить небольшой отступ между текстом и символами */
    font-size: 20px;
}

.cross {
    display: none; /* Скрыть плюс и крестик */
    cursor: pointer; /* Установить курсор в виде указателя */

}

.nav-item-widget:hover .plus {
    display: none; /* Показать плюс при наведении на элемент */
}

.nav-item-widget:hover .cross {
    display: inline; /* Показать крестик при активном нажатии на элемент */
}

.history-images {
    position: relative;
}

.history-holder {
    display: flex;
}

.description {
    justify-content: center;
    text-align: justify;
    width: 100%;
    box-sizing: border-box; /* чтобы учесть отступы и границы внутри ширины элемента */
    padding: 0 20px; /* добавьте подходящие отступы по бокам */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.nav-item-widget:hover .description {
    max-height: 100px; /* Высота, до которой раскрывается описание */
}

.imgages-1 {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 0;
    top: 54px;
    left: 211px;
}

.imgages-2 {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 999;
    top: -92px;
    left: 383px;
}

.imgages-3 {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 999;
    top: 246px;
    left: 481px;
}


.imgages-4 {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 998;
    top: 246px;
    left: 250px;
}

.history-images img {
    position: absolute;
    transition: all 0.3s ease;
    transform-origin: center center; /* устанавливаем точку трансформации в центре */
}

.history-images img.active:nth-child(1) {
    transform: translate(-5%, -5%) scale(1.2) translateX(-30%) translateY(-20%);
    z-index: 1000;
}

.history-images img.active:nth-child(2) {
    transform: translate(-5%, -5%) scale(1.2) translateX(50%) translateY(-10%);
    z-index: 1000;
}

.history-images img.active:nth-child(3) {
    transform: translate(-50%, -50%) scale(1.2) translateX(50%) translateY(50%);
    z-index: 1000;
}

.history-images img.active:nth-child(4) {
    transform: translate(-5%, -5%) scale(1.2) translateX(-10%) translateY(10%);
    z-index: 1000;
}


.black-block {
    background-image: url(../Фон/black-bg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.left-title {
    color: #D67E34;
    font-size: 52px;
    font-weight: 400;

    margin-bottom: 20px;
}

.left-text {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.right-btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    cursor: pointer;
}

.right-btn:hover {
    background-color: #904506;
}


.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.dishes-title {
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 139px;
}

.dishes-title span {
    color: #D67E34;
}

.dishes::after {
    z-index: -1;
	content: '';
	position: absolute;
	background-image: url('../Фон/call.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 95px;
	height: 200px;
	bottom: -230px;
	right: 0;
}


.burgers {
    display: flex;
    margin-top: -50px;
    margin-bottom: 60px;
    justify-content: center;
}

.burgers-items {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 1.5s ease, opacity 1.5s ease;
}

.burgers-items.active {
    transform: translateX(0);
    opacity: 1;
}

.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.burgers-image {
    margin-right: 20px;
}

.dishes-title span1 {
    font-size: 30px;
    color: #656363;

}


.burger-text {
    font-size: 26px;
    margin-left: 20px;
    text-align: justify;
}


.menu {
    background-image: url(../Фон/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.menu-title {
    padding-top: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 54px;
    color: #fff;
    text-align: center;
    padding-bottom: 100px;
}

.menu-text {
    font-size: 26px;
    padding-right: 25px;
    padding-left: 25px;
    position: absolute;
}


.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
    margin-right: 20px;
    border-radius: 20px;

}

.text-container {
    position: relative;
    width: calc(100% - 40px);
    height: 150px;
    overflow: hidden;
    margin-top: 150px;
    margin-left: 20px;
}

.text-block {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 75px); /* ширина блока с учетом отступов по бокам */
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 0 35px; /* добавляем отступы по бокам */
}


.button-container {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -75px;
}

.menu-btn {
    background-color: #D67E34;
    text-decoration: none;
    padding: 5px 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #904506;
}

.prev-btn,
.next-btn {
    background-color: #D67E34;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}


.prev-btn {
    margin-left: 3px;
}

.next-btn {
    margin-right: 3px;
}

.menu-button {
    margin-top: 20px;
}

.price-image {
    position: absolute;
    bottom: 0;
    right: 32px;
}

.menu-image {
    position: relative;
}

.price-420 {
    position: absolute;
    bottom: 32px;
    right: 56px;
    color: #fff;
    font-size: 30px;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.menu-title1 {
    margin-top: -60px;
    font-size: 54px;
    color: #000000;
    text-align: center;
    padding-bottom: 20px;
}

.coment-text {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 20px;
}

.integration {
    background-color: #ffffff;
    padding-top: 104px;
    padding-bottom: 139px;
}

.integration::before {
	content: '';
	background-image: url('../Фон/raw-phone.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	width: 200px;
	height: 150px;
}


.container-integration {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Значение изменено для переноса элементов на следующую строку */
    overflow: auto; /* Добавлено для горизонтального скроллинга, если элементов слишком много */
}

.coment-text {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.16);
    line-height: 160%;
    padding: 20px;
    text-align: center;
}



.integration-item {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px;
    overflow: hidden;
}

.integration-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.integration-item:hover img {
    filter: grayscale(100%);
}

.integration-item::before {
    content: attr(data-title);
    font-size: 13px;
    z-index: 1;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(133, 133, 133, 0.78);
    color: #fff;
    transition: bottom 0.3s ease;
}

.integration-item:hover::before {
    bottom: 0;
}


.footer-container * {
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #555;
    margin-top: 20px;
    margin-bottom: -50px;
}

.footer-copyright p {
    margin: 0; /* Убираем внешние отступы у параграфа */
}


ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #D67E34;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}


.footer-col ul li a {
    font-size: 16px;

    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links img {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

}


.footer-col .social-links img:hover {
    transform: scale(1.3); /* Увеличение размера при наведении */
    filter: brightness(1.2); /* Повышение яркости при наведении */
}

.btn-footer {
    margin-top: 30px;
    cursor: pointer;
}

.button-footer {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    border-radius: 10px;
    transition: background-color 0.2s linear;
}

.button-footer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-footer:hover {
    background-color: #894b17;
}


/*responsive*/
@media (max-width: 1067px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    #footer-links{
        display: none;
    }

    #footer-start{
        display: none;
    }

    .row p{
        font-size: 12px;
    }
}


@media (max-width: 640px) {

    .menu-title {
        font-size: 40px;
        margin-top: -60px;
    }

    .menu-title1 {
        font-size: 40px;
    }

    .container-integration {
        margin-top: -60px;
    }

    .integration-item {
        width: 60px;
        height: 60px;
        margin: 10px;
    }

    .integration-item::before {
        font-size: 10px;
    }

}

@media (max-width: 1750px) {
    .button-container {
        transform: translateY(-100%);
    }

    .text-container {
        height: 200px;
    }
}

@media (max-width: 1550px) {
    .button-container {
        transform: translateY(-150%);
    }


    .text-container {
        height: 250px;
    }
}

@media (max-width: 1510px) {
    .button-container {
        transform: translateY(-180%);
    }

    .text-container {
        height: 270px;
    }
}

@media (max-width: 1480px) {
    .button-container {
        transform: translateY(-200%);
    }

    .text-container {
        height: 300px;
    }
}

@media (max-width: 1300px) {
    .button-container {
        transform: translateY(-50%);
    }

    .menu-text {
        position: relative;
    }


    .text-container {
        margin-top: 20px;
        height: 150px;
    }
}

@media (max-width: 500px) {

    .button-container {
        transform: translateY(-160%);
    }

    .text-container {
        height: 230px;
    }
}

@media (max-width: 411px) {

    .button-container {
        transform: translateY(-260%);
    }

    .menu-text{
        font-size: 20px;
    }

    .text-container {
        height: 340px;
    }
}

@media (max-width: 350px) {

    .button-container {
        transform: translateY(-280%);
    }

    .text-container {
        font-size: 15px;
    }

    .menu-title{
        font-size: 30px;
    }

    .menu-text{
        font-size: 17px;
    }
}


@media (max-width: 1650px) {
    .burger-text {
        font-size: 22px;
    }

    .dishes-title span1 {
        display: block;
        margin-top: 15px;
        font-size: 25px;
        line-height: 1.5;

    }
}

@media (max-width: 1450px) {
    .burger-text {
        font-size: 20px;
    }
}

@media (max-width: 1350px) {
    .burger-text {
        font-size: 18px;
    }
}


@media (max-width: 1450px) {
    .imgages-1,
    .imgages-2,
    .imgages-3,
    .imgages-4 {
        width: 200px;
    }

    .imgages-1 {
        top: 54px;
        left: 150px;
    }

    .imgages-2 {
        top: -92px;
        left: 270px;
    }

    .imgages-3 {
        top: 210px;
        left: 350px;
    }


    .imgages-4 {
        top: 230px;
        left: 240px;
    }


}


@media (max-width: 1400px) {
    .card-title {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;

        font-size: 26px;
        font-weight: 400;

    }

}

@media (max-width: 1200px) {
    .card-title {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;

        font-size: 20px;
        font-weight: 400;

    }

}

@media (max-width: 1000px) {
    .card-title {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;

        font-size: 16px;
        font-weight: 400;

    }

    .card {
        margin-bottom: 10px;
    }

    .card-desc {
        text-align: center;

        font-size: 15px;
        font-weight: 400;
        color: #656363;
    }
}


@media (max-width: 580px) {
    .form-block {
        display: block;
    }

    .form-phone-email {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 0px;
    }

    .form-name-site {
        width: 100%;
        margin-bottom: 10px;
        padding-left: 0px;
    }


    .form-text {
        width: 90%;
    }

    .online-text {
        color: #D67E35;
        text-align: center;

        font-size: 30px;
        font-weight: 400;

        margin-right: 20px;
        margin-left: 20px;

    }

    .online-text-bottom {
        margin-top: 5px;
        font-size: 15px;
    }

    .online-text-bottom2 {
        margin-top: 5px;
        font-size: 15px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .mobile-button {
        width: 90%;
    }

    .modal-content {
        margin: 7% auto;
        margin-top: 2%;
    }
}


@media (max-width: 1500px) {

    .galery-content {
        display: block;
    }

    .img-gal,
    .galery-up,
    .galery-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-gal {
        margin-bottom: 20px;
    }

    .galery-left {
        margin-right: 0;
    }


}


@media (max-width: 1300px) {

    .menu-items {
        display: block;
    }


    .menu-item {
        margin: 20px auto;
        width: 600px;
    }


    .header-title {
        position: static;
        font-size: 65px;
    }

    .cook-content {
        display: block;
    }

    .cook-content img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }


    .block-holder {
        display: block;
    }

    .left-title,
    .left-text,
    .right-button {
        text-align: center;
    }

    .right-button {
        margin-top: 30px;
    }


    .history-images {
        display: none;
    }

    .history-number {
        margin-top: 40px;
        margin-left: 50px;
    }

    .history-title,
    .history-desc,
    .history-number {
        width: auto;
    }
}

@media (max-width: 1320px) {

    .modal-content {
        width: 60%;
    }

}

@media (max-width: 1000px) {

    .modal-content {
        width: 80%;
    }

}

@media (max-width: 500px) {

    .modal-content {
        width: 90%;
    }
}

@media (max-width: 550px) {
    .header-title {
        font-size: 50px;
    }
}

@media (max-width: 451px) {
    .header-title {
        font-size: 40px;
    }

    .header-suptitle {
        font-size: 23px;
    }
}


@media (max-width: 1185px) {


    .nav-item {
        text-align: left;
        margin-right: 220px;
    }


    .nav,
    .cart,
    .phone,
    .btn,
    .btn1 {
        display: none;
    }

    .burger-icon{
        margin-top: 2px;
    }

    .header-line {
        justify-content: space-between;
    }


    .burgers {
        position: relative;
        text-align: center;
    }

    .contact-center {
        z-index: -1;
        max-width: 100%; /* Чтобы изображение не выходило за пределы контейнера */
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.2;
    }

    .burger-text {
        margin-left: -20px;
    }

}

@media (max-width: 1300px) {

    .phone,
    .btn1 {
        display: none;
    }

}


@media (max-width: 1520px) {

    .phone,
    .btn1 {
        display: none;
    }

}

@media (min-width: 1920px) {
    .card {
        margin-right: 200px;
        width: 400px;
        margin-bottom: 150px;
        padding-bottom: 20px;
    }

    .imgages-1 {
        top: 54px;
        left: 611px;
    }

    .imgages-2 {
        top: -92px;
        left: 783px;
    }

    .imgages-3 {
        top: 246px;
        left: 881px;
    }


    .imgages-4 {
        top: 246px;
        left: 650px;
    }

}

@media (max-width: 1600px) {
    .card {
        width: 320px;
        margin-top: -40px;
        margin-bottom: 70px;
    }

    .card-title {
        font-size: 24px;
    }

}


@media (max-width: 1200px) {
    .card {
        width: 280px;
        padding-bottom: 20px;
    }

    .card-desc {
        text-align: center;

        font-size: 14px;
        font-weight: 400;
        color: #656363;
    }

    .card-title {
        font-size: 25px;
    }

}


@media (max-width: 1020px) {

    .top-title {
        display: none;
    }

    .card-desc {
        font-size: 17px;
    }


    .card-title {
        margin-top: 5px;
        font-size: 20px;
    }

    .card {
        width: 270px;
        margin-bottom: 70px;
        padding-bottom: 20px;
    }

}

@media (max-width: 1010px) {
    .card {
        margin-right: 20px;
        width: 250px;
        margin-bottom: 70px;
        padding-bottom: 20px;
    }

}

@media (max-width: 950px) {

    .card {

        width: 380px;
    }

}


@media (max-width: 730px) {

    .card {
        width: 360px;
        margin-top: 20px;

        margin-bottom: 15px;

    }

    .card {
        transition: transform 0.5s ease; /* Плавный переход */
    }


    .visible {
        transform: scale(1.1); /* Увеличение на 10% */
        z-index: 1;
    }

    .card-title {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        font-size: 20px;
        font-weight: 400;
    }

    .btn-more-widget {
        margin-top: 12px;
        margin-bottom: 7px;
        text-align: center;
    }

    .top-title {
        display: none;
    }

    .card-desc {
        text-align: center;

        font-size: 15px;
        font-weight: 400;
        color: #656363;
    }


    .header-suptitle {
        font-size: 33px;
    }

    .btn-more-widget a.header-button {
        font-size: 11px;
        padding: 8px 8px;
    }

    .card-image {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        margin-bottom: 30px;

    }


}

@media (max-width: 880px) {

    .history-holder {
        display: block;
    }
}

@media (max-width: 900px) {
    .nav-item-widget {
        font-size: 15px;
        margin-bottom: -15px;
    }

    .number-item {
        font-size: 26px;
    }

    .number-item span {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    .nav-item-widget {
        font-size: 14px;
        margin-bottom: -15px;
    }

    .number-item {
        font-size: 23px;
    }

    .number-item span {
        font-size: 18px;
    }
}

@media (max-width: 780px) {

    #menu {
        width: 200px;
    }


    #menu a {
        font-size: 16px;
        margin-bottom: -20px;

    }

    .close-button {
        left: 160px;
        font-size: 18px;
    }

    .number-burger {
        bottom: 90px;
        line-height: 0.5;
    }


    .header-suptitle {
        margin-top: 10px;
    }

    .header-suptitle {
        margin-bottom: 10px;
    }

    .history-holder {
        display: block;
    }

    .history-number {
        display: block;
        justify-content: center;
    }

    .black-block {
        margin-top: -100px;
    }

    .menu-item {
        width: auto;
    }

    .high {
        display: none;
    }

    .container {
        margin: auto 40px;
    }


    .nav-item-widget {
        font-size: 14px;
        margin-bottom: -15px;
    }

    .number-item {
        font-size: 22px;
    }

    .number-item span {
        font-size: 17px;
    }

    .plus,
    .cross {
        font-size: 16px;
    }

}

@media (max-width: 640px) {
    .history-title {
        font-size: 45px;
        margin-top: -100px;
    }

    .nav-item-widget {
        font-size: 13px;
        margin-bottom: -15px;
    }

    .dishes-title {
        font-size: 40px;
    }

    .burger-text {
        font-size: 13px;
        margin-top: -20px;
    }

    .burgers-items{
        margin-top: -50px;
    }

    .dishes-title span1 {
        font-size: 15px;
    }
}



@media (max-width: 430px) {
    .nav-item-widget {
        font-size: 11px;
    }
}

@media (max-width: 380px) {
    .nav-item-widget {
        font-size: 10px;
    }
}

@media (max-width: 451px) {
    .header-title {
        font-size: 40px;
    }

    .header-suptitle {
        font-size: 23px;
    }
}
@media (max-height: 826px) {
    .header-title {
        margin-top: 0;
    }
}

@media (max-height: 769px) {
    .header-title {
        margin-top: -100px;
    }
}

@media (max-height: 595px) {

    .header-title {
        font-size: 60px;
    }
}

@media (max-height: 550px) {

    .header-title {
        font-size: 50px;
    }

    .header-suptitle {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .card {
        margin-top: 40px;
    }

}


@media (max-height: 780px) {
    .header-suptitle:before,
    .header-suptitle:after {
        content: none;
    }
}

@media (max-height: 650px) {

    .close-button {
        left: 130px;
        font-size: 16px;
    }

    #menu a {
        font-size: 13px;
        margin-bottom: -30px;

    }

    #menu {
        width: 160px;
    }

    .number-burger {
        bottom: 80px;
        line-height: 0.5;
    }

    #menu a:hover {
        background-color: #ff8731;

    }
}

@media (max-height: 470px) {
    .header-bth {
        display: none;
    }
}

@media (max-height: 350px) {

    #menu a {
        font-size: 12px;
        margin-bottom: -35px;

    }

    .number-burger {
        display: none;
    }

}






















